.gallery {
  background-color: #ececec;
}
.gallery::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
.gallery .container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gallery .box {
  padding: 15px;
  background-color: white;
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}

.gallery .image::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transition: var(--main-transition);
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  opacity: 0;
  z-index: 1;
}

.gallery .box .image:hover::before {
  animation: bigger 0.5s linear forwards;
}

.gallery .box img {
  transition: var(--main-transition);
}

.gallery .box:hover img {
  transform: rotate(5deg) scale(1.1);
}

@keyframes bigger {
  50% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
